{% extends "menu.html" %}
{% load static %}

{% block titulo %}Listar Empréstimos{% endblock %}

{% block body %}

<div class="container">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuário</th>
            <th scope="col">Vínculo</th>
            <th scope="col">Livros</th>
            <th scope="col">Data do empréstimo</th>
            <th scope="col">Data da devolução</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
             <td>Maria da Silva</td>
             <td>aluno(a)</td>
            <td>Dom Casmurro – Machado de Assis</td>
            <td>05/07/2026</td>
            <td>15/07/2026</td>
        </tr>

        </tbody>
    </table>
</div>

{% endblock %}