{% extends "menu.html" %}
{% load static %}

{% block titulo %}Listar Empréstimos{% endblock %}

{% block body %}

<div class="container">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Vínculo</th>
            <th scope="col">Livros</th>
            <th scope="col">Data do empréstimo</th>
            <th scope="col">Data da devolução</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for emprestimo in emprestimos %}
        <tr>
            <th scope="row">{{ emprestimo.id }}</th>
            <td>{{ emprestimo.nome }}</td>
            <td>{{ emprestimo.vinculo }}</td>
            <td>{{ emprestimo.livros }}</td>
            <td>{{ emprestimo.dataEmprestimo }}</td>
            <td>{{ emprestimo.dataDevolucao }}</td>
            <td>
                <a href="{% url 'app:emprestimo_edit' emprestimo.id %}"><img src="{% static 'img/edit.png' %}" style="height: 30px"></a>
                <a href="{% url 'app:emprestimo_delete' emprestimo.id %}" onclick="return confirm('Deseja realmente excluir o empréstimo {{ emprestimo.nome }}?')"><img src="{% static 'img/del.png' %}" style="height: 30px"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}