{% extends "menu.html" %}
{% load static %}

{% block titulo %}Cadastrar Empréstimo{% endblock %}

{% block body %}

<div class="container">
    <br>

        <form method="POST" enctype="multipart/form-data" id="form-emprestimo">
        {% csrf_token %}

        <div class="mb-3">
        <label for="SeuNomeCompleto" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="SeuNomeCompleto" placeholder="Nome Completo">
        </div>


        <select class="form-select" aria-label="Default select example">
        <option selected>Selecione seu vínculo</option>
        <option value="1">Aluno</option>
        <option value="2">Professor</option>
        <option value="3">Servidor</option>
    </select>
     <br>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addonNome">Livros</span>
            <input type="text" class="form-control" name="Livros" placeholder="Livros" aria-label="Livros" aria-describedby="basic-addonLivros">
        </div>


 <div class="col">
                <div class="input-group mb-3">
                    <input type="date" class="form-control" name="dataEmpréstimo" placeholder="dataEmpréstimo" aria-label="dataEmpréstimo" aria-describedby="basic-addondataEmpréstimo">
                    <span class="input-group-text" id="basic-addondataEmpréstimo">DD/MM/AAAA</span>
                </div>

     <div class="col">
                <div class="input-group mb-3">
                    <input type="date" class="form-control" name="dataDevolução" placeholder="dataDevolução" aria-label="dataDevolução" aria-describedby="basic-addondataEmpréstimo">
                    <span class="input-group-text" id="basic-addondataEmpréstimo">DD/MM/AAAA</span>
                </div>
             </div>
        </div>

            <div class="input-group mb-3">
            <button type="button" class="btn btn-primary">Salvar</button>
        </div>

 </form>

</div>

{% endblock %}