{% extends "menu.html" %}
{% load static %}

{% block titulo %}Listar Livros{% endblock %}

{% block body %}

<div class="container">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Autor</th>
             <th scope="col">Açoes</th>

        </tr>
        </thead>
        {% for livro in livros %}
        <tbody>
        <tr>
            <th scope="row">{{ livro.id }}</th>
            <td>{{ livro.nome }}</td>
            <td>{{ livro.autor }}</td>

            <td>
                <a href="{% url 'app:livro_edit' livro.id %}"><img src="{% static 'img/edit.png' %}" style="height: 30px"></a>
                <a id="data" data-bs-toggle="modal", onclick="deleteLivro('{{ livro.nome }}', '{{ livro.id }}');" data-bs-target="#exampleModal"><img src="{% static 'img/del.png' %}" style="height: 30px"></a>
            </td>
        </tr>

        </tbody>
        {% endfor %}
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="conteudo" class="modal-body">
                Deseja excluir o livro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="link" href="#" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteLivro(nome, id){
        console.log(id, nome);
        document.getElementById('link').setAttribute('href',"/livro/deletar/" +id);
        document.getElementById('conteudo').innerText = "Deseja excluir o livro " + nome + "?"
    }
</script>

{% endblock %}